*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'roboto' sans-serif;
}
p{
	line-height: 25px;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	    box-sizing: border-box;
}
#slider{
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;]
	background-position: center center;
}
.overlay{
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .3);
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}
.slider-top{
	margin-top: 20px;

}
.logo{
	width: 20%;
	float: left;
}
.menu{
	margin-top: 40px;
	float: right;
}
.menu ul{
	margin: 0;
	padding: 0;
}
.menu ul li{
	margin-bottom: 20px;
	display: inline-block;
}
.menu ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	text-transform: uppercase;
}
.menu ul li a:hover{
	color: #87D37C;
}
.slider-content{
	padding: 200px 0;
	text-align: center;
	color: #ffffff;
}
.slider-content h2{
	font-size: 40px;
	margin-bottom: 10px;
}
.slider-content h1{
	font-size: 75px;
	border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 500px;
    display: inline-block;
    margin: 0 auto;
    padding-bottom:  20px 30px;
    margin-bottom: 15px;
}
.slider-content h1 span{
	color: #87D37C;
}
.slider-content h3{
	font-size: 30px;
}



#about-us{
	color: #8d8c8c;
	padding: 70px 0;
}
.about-top{
	text-align: center;
}
.about-top h2{
	font-size: 36px;
	text-transform: uppercase;
}
.about-top p{
	max-width: 700px;
	margin: 0 auto;
}
.about-content{
	text-align: center;
}
.about{
	width: 25%;
	float: left;
	padding: 60px 0;
	padding-right: 10px;
}
.about i{
	font-size: 35px;
	margin-bottom: 20px;
}
.about h2{
	text-transform: uppercase;
}
.about p{}
.about:hover i,
.about:hover h2{
	color: #87D37C;
}



#service{
	background-color: #F6F9F9;
	padding: 80px 0;
}
.service-top{
	color: #8F8F8F;
	text-align: center;
	margin-bottom: 30px; 
}
.service-top h2{
	font-size: 36px;
	text-transform: uppercase;
}
.service-top p{
	max-width: 700px;
	margin: 0 auto;
}
.service-content{}
.services{
	margin-bottom: 10px;
	width: 25%;
	float: left;
	padding-right: 10px;
}
.services img{
	width: 100%;
}

.form{
	clear: both;
}

#contact-us{
	padding: 100px 0;
}
.contact-top{
	color: #8D8C8C;
	text-align: center;
}
.contact-top h2{
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 10px;
}
.contact-top p{
	max-width: 700px;
	margin: 0 auto;
}
.contact-content{}
.contact-single{
	width: 33.33333%;
	float: left;
	text-align: center;
	margin-top: 30px;
	color: #8D8C8C;
	margin-bottom: 40px; 
}
.contact-single i{
	font-size: 100px;
	margin-bottom: 20px;
}
.contact-single h2{
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.contact-single p{
	font-size: 18px;
}
.contact-single:hover{
	color: #87D37C;
}



.contact-form{
	width: 50%;
	float: left;
	padding-right: 15px;
}
.contact-form input{
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
}
.message{
	width: 50%;  
	float: right;
}
.message textarea{
	width: 100%;
	padding: 25px;
	height: 110px;
}
.message input{
	width: 125px;
	height: 42px;
	text-transform: uppercase;
	margin-top: 12px;
}
.message input:hover{
	background: #87D37C;
	color: #ffffff;
	border: none;
}


#social-icon{
	background-color: #000000;
	padding: 20px 0; 
	text-align: center;
}
.social-icons i{
	color: #ffffff;
	font-size: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.fa-facebook{
	background-color: #3C599B;
}
.fa-google-plus{
	background-color: #CD3C2A;
}
.fa-linkedin{
	background-color: #007BB6;
}
.fa-twitter{
	background-color: #5EA9DD;
}
.fa-skype{
	background-color: #00AFF0;
}
.fa-dribbble{
	background-color: #03A651;
}

footer{
	text-align: center;
	padding: 20px 0;
}